.git
.github
.dockerignore
.gitignore

.idea
.vscode

__pycache__/
results/
data/
datasets/
coverage-report/
logs/
lightning_logs/
model_store/
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.venv
venv

.DS_Store
.AppleDouble
.LSOverride
._*

.vscode
.idea

api/modeldata/
**/*.db
